<div class="opacity-25">
  <h1 class="text-3xl font-bold">
    <%= link_to "Deliveries", deliveries_path, data: { turbo: false } %>
  </h1>

  <script data-turbo-eval="false">
    document.addEventListener("turbo:load", function() {
      if (!window.mapboxsearch) return;

      mapboxsearch.config.accessToken = "<%= ENV['MAPBOX_KEY'] %>";

      mapboxsearch.autofill({
        options: {
          country: "nl",
        },
      });
    });
  </script>


  <%= form_with model: @delivery, data: { turbo: false, controller: "validation", action: "submit->validation#formValidation" } do |f| %>
    <%= f.label :pickup_address %>
    <%= f.text_field :pickup_address, name: "pickup", autocomplete: "address-line1", required: true, placeholder: "Add a pickup address", class: "px-1 py-1 border-2 rounded border-gray-400", data: { validation_target: "pickupAddressField", action: "change->validation#trackAddressChanges"} %>
    <p class="hidden text-red-400 text-sm" data-validation-target="pickupError">Add a valid address</p>
    <%= f.text_field :pickup_address, name: "pickup-city", autocomplete: "address-level2", readonly: true, class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200", data: { validation_target: "pickupCityField"} %>
    <%= f.text_field :pickup_address, name: "pickup-state", autocomplete: "address-level1", readonly: true, class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200", data: { validation_target: "pickupStateField"} %>
    <%= f.text_field :pickup_address, name: "pickup-zip", autocomplete: "postal-code", readonly: true, class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200", data: { validation_target: "pickupZipField"} %>

    <%= f.label :delivery_address %>
    <%= f.text_field :delivery_address, name: "delivery", autocomplete: "address-line1", required: true, placeholder: "Add a delivery address", class: "px-1 py-1 border-2 rounded border-gray-400", data: { validation_target: "deliveryAddressField", action: "change->validation#trackAddressChanges"} %>
    <p class="hidden text-red-400 text-sm" data-validation-target="deliveryError">Add a valid address</p>
    <%= f.text_field :delivery_address, name: "delivery-city", autocomplete: "address-level2", readonly: true, class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200", data: { validation_target: "deliveryCityField"} %>
    <%= f.text_field :delivery_address, name: "delivery-state", autocomplete: "address-level1", readonly: true, class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200", data: { validation_target: "deliveryStateField"} %>
    <%= f.text_field :delivery_address, name: "delivery-zip", autocomplete: "postal-code", readonly: true, class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200", data: { validation_target: "deliveryZipField"} %>

    <%= f.label :weight %>
    <%= f.number_field :weight, min: 1, step: 0.1, required: true, placeholder: "Add a weight (in kg)", class: "px-1 py-1 border-2 rounded border-gray-400", data: { validation_target: "weightField"} %>
    <p class="hidden text-red-400 text-sm" data-validation-target="weightError">Add a valid weight</p>

    <%= f.label :scheduled_time %>
    <%= f.text_field :scheduled_time, required: true, placeholder: "Select a date", class: "px-1 py-1 border-2 rounded border-gray-400", data: { controller: "datepicker", validation_target: "dateField" } %>
    <p class="hidden text-red-400 text-sm" data-validation-target="dateError">Add a valid date</p>

    <%= f.label :driver_name, "Driver (optional)" %>
    <%= f.text_field :driver_name, placeholder: "Choose the driver", class: "px-1 py-1 border-2 rounded border-gray-400" %>

    <%= f.submit %>
  <% end %>



  <%= search_form_for @q, data: { turbo: false } do |f| %>
    <%= f.label :pickup_address_cont, "Pickup Address:" %>
    <%= f.search_field :pickup_address_cont, placeholder: "Search by pickup address" %>

    <%= f.label :driver_name_cont, "Driver:" %>
    <%= f.search_field :driver_name_cont, placeholder: "Search by driver" %>

    <%= f.submit "Filter", name: "" %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Pickup Address</th>
        <th>Delivery Address</th>
        <th>Weight</th>
        <th>Distance</th>
        <th>Scheduled Time</th>
        <th>Cost</th>
        <th>Driver</th>
      </tr>
    </thead>
    <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.id %></td>
          <td><%= delivery.pickup_address %></td>
          <td><%= delivery.delivery_address %></td>
          <td><%= delivery.weight %></td>
          <td><%= delivery.distance %></td>
          <td><%= delivery.scheduled_time %></td>
          <td><%= delivery.cost %></td>
          <td><%= delivery.driver_name %></td>
        </tr>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>Total cost: <%= @total_cost %></p>
  <%= paginate @deliveries %>

  <%= page_entries_info @deliveries, entry_name: 'item' %>

</div>

<!-- Form modal -->
<div id="modal-new-delivery" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border bg-white border-gray-200 md:w-96 w-full h-auto rounded transition-opacity duration-500 shadow-xl p-4">

  <h3 class="text-2xl text-center mb-4 font-bold">Add a new delivery</h3>

  <%= form_with model: @delivery, data: { turbo: false, controller: "validation", action: "submit->validation#formValidation" } do |f| %>
    <div class="space-y-4">

      <!-- Pickup Address Section -->
      <div class="space-y-2 flex flex-col">
        <h4 class="text-lg font-semibold">Pickup Address</h4>
        <div class="flex space-x-4">
          <div class="flex flex-col w-4/5 space-y-2">
            <%= f.label :pickup_address, "Street and number" %>
            <%= f.text_field :pickup_address,
                name: "pickup",
                autocomplete: "address-line1",
                required: true,
                placeholder: "Add a pickup address (street and number)",
                class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
                data: { validation_target: "pickupAddressField", action: "change->validation#trackAddressChanges" }
            %>
            <p class="hidden text-red-400 text-xs" data-validation-target="pickupError">Add a valid address</p>
          </div>
          <div class="flex flex-col w-1/5 space-y-2">
            <%= f.label :pickup_address, "Zip Code" %>
            <%= f.text_field :pickup_address,
                name: "pickup-zip",
                autocomplete: "postal-code",
                readonly: true,
                class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200",
                data: { validation_target: "pickupZipField" }
            %>
          </div>
        </div>

        <div class="flex space-x-4 justify-center">
          <div class="flex flex-col w-1/2 space-y-2">
            <%= f.label :pickup_address, "City" %>
            <%= f.text_field :pickup_address,
                name: "pickup-city",
                autocomplete: "address-level2",
                readonly: true,
                class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200",
                data: { validation_target: "pickupCityField" }
            %>
          </div>
          <div class="flex flex-col w-1/2 space-y-2">
            <%= f.label :pickup_address, "State" %>
            <%= f.text_field :pickup_address,
                name: "pickup-state",
                autocomplete: "address-level1",
                readonly: true,
                class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200",
                data: { validation_target: "pickupStateField" }
            %>
          </div>
        </div>
      </div>

      <!-- Delivery Address Section -->
      <div class="space-y-2 flex flex-col">
        <h4 class="text-lg font-semibold">Delivery Address</h4>
        <div class="flex space-x-4">
          <div class="flex flex-col w-4/5 space-y-2">
            <%= f.label :delivery_address, "Street and number" %>
            <%= f.text_field :delivery_address,
                name: "delivery",
                autocomplete: "address-line1",
                required: true,
                placeholder: "Add a delivery address",
                class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
                data: { validation_target: "deliveryAddressField", action: "change->validation#trackAddressChanges" }
            %>
            <p class="hidden text-red-400 text-xs" data-validation-target="deliveryError">Add a valid address</p>
          </div>
          <div class="flex flex-col w-1/5 space-y-2">
            <%= f.label :delivery_address, "Zip Code" %>
            <%= f.text_field :delivery_address,
                name: "delivery-zip",
                autocomplete: "postal-code",
                readonly: true,
                class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200",
                data: { validation_target: "deliveryZipField" }
            %>
          </div>
        </div>

        <div class="flex space-x-4">
          <div class="flex flex-col w-1/2 space-y-2">
            <%= f.label :delivery_address, "City" %>
            <%= f.text_field :delivery_address,
                name: "delivery-city",
                autocomplete: "address-level2",
                readonly: true,
                class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200",
                data: { validation_target: "deliveryCityField" }
            %>
          </div>
          <div class="flex flex-col w-1/2 space-y-2">
            <%= f.label :delivery_address, "State" %>
            <%= f.text_field :delivery_address,
                name: "delivery-state",
                autocomplete: "address-level1",
                readonly: true,
                class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200",
                data: { validation_target: "deliveryStateField" }
            %>
          </div>
        </div>
      </div>

      <div class="flex flex-col">
        <div class="flex space-x-4">
        <!-- Weight Section -->
          <div class="space-y-2 flex flex-col">
            <%= f.label :weight %>
            <%= f.number_field :weight,
                min: 1,
                step: 0.1,
                required: true,
                placeholder: "Add a weight (in kg)",
                class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
                data: { validation_target: "weightField" }
            %>
            <p class="hidden text-red-400 text-xs" data-validation-target="weightError">Add a valid weight</p>
          </div>

          <!-- Scheduled Time Section -->
          <div class="space-y-2 flex flex-col">
            <%= f.label :scheduled_time %>
            <%= f.text_field :scheduled_time,
                required: true,
                placeholder: "Select a date",
                class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
                data: { controller: "datepicker", validation_target: "dateField" }
            %>
            <p class="hidden text-red-400 text-xs" data-validation-target="dateError">Add a valid date</p>
          </div>
        </div>
      </div>

      <!-- Driver Name Section (Optional) -->
      <div class="space-y-2 flex flex-col">
        <%= f.label :driver_name, "Driver (optional)" %>
        <%= f.text_field :driver_name,
            placeholder: "Choose the driver",
            class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]"
        %>
      </div>

      <%= f.submit "Add delivery", class: "w-full p-2 font-semibold border border-[#6e54ff] rounded bg-[#6e54ff] text-white" %>
    </div>


  <% end %>
</div>
