<div data-controller="modal">
  <div data-modal-target="pageBg" class="">
    <nav class="sticky top-0 w-full flex flex-col items-center md:flex-row md:justify-between space-y-2 p-4 bg-[#f7e2b5]">
      <h1 class="text-3xl font-bold">
        <%= link_to "Delivery Dashboard", deliveries_path, data: { turbo: false } %>
      </h1>
      <button data-action="click->modal#showForm" class="md:w-48 p-2 font-semibold border border-[#6e54ff] rounded bg-[#6e54ff] text-white cursor-pointer">
        Add a new delivery
      </button>
    </nav>

    <div class="container mx-auto p-4 opacity-100 space-y-4">

      <!-- Filters -->
      <%= search_form_for @q, data: { turbo: false } do |f| %>
        <div class="p-4 space-x-4 space-y-2 md:space-y-0 flex flex-col md:flex-row justify-end md:items-center rounded bg-[#fffdfd]">
          <%= f.label :pickup_address_cont, "Pickup Address:" %>
          <%= f.search_field :pickup_address_cont, placeholder: "Search by pickup address", class: "border border-gray-400 focus:outline-[#6e54ff] p-2 rounded w-full md:w-52" %>

          <%= f.label :driver_name_cont, "Driver:" %>
          <%= f.search_field :driver_name_cont, placeholder: "Search by driver", class: "border border-gray-400 focus:outline-[#6e54ff] p-2 rounded w-full md:w-52" %>

          <%= f.submit "Filter", name: "", class: "cursor-pointer p-2 font-semibold border-2 border-[#6e54ff] rounded md:w-32"%>
        </div>
      <% end %>

      <%= page_entries_info @deliveries, entry_name: 'item' %>

      <!-- Delivery table (small screens) -->
      <div class="block md:hidden">
        <div class="space-y-4">
          <% @deliveries.each do |delivery| %>
            <div class="p-4 border-2 border-gray-400 rounded space-y-3 text-sm flex flex-col hover:bg-[#ccccea] transition-all duration-100 ease-in-out">
              <div>
                <p class="text-xs font-semibold">Pickup address</p>
                <%= delivery.pickup_address %>
              </div>

              <div>
                <p class="text-xs font-semibold">Delivery address</p>
                <%= delivery.delivery_address %>
              </div>

              <div class="flex justify-around">
                <span><i class="bi bi-minecart-loaded"></i> <%= delivery.weight %> kg</span>
                <span><i class="bi bi-truck"></i> <%= delivery.distance %> km</span>
                <span><i class="bi bi-calendar-check"></i> <%= delivery.scheduled_time.strftime("%B %d, %Y %I:%M %p") %></span>
                <span><i class="bi bi-coin"></i> $<%= delivery.cost %></span>
              </div>

              <% if delivery.driver_name.present? %>
                <div>
                  <p class="text-xs font-semibold">Driver</p>
                  <%= delivery.driver_name %>
                </div>
              <% end %>

              <div class="ml-auto text-xs">
                <em>#<%= delivery.id %></em>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Delivery table (medium and larger screens) -->
      <div class="hidden md:block">
        <div class="p-2 border-gray-400 rounded bg-[#fffdfd] flex flex-col space-y-2">
          <table class="table-fixed w-full text-center">
            <thead>
              <tr>
                <th class="w-12 px-4 py-2">ID</th>
                <th class="w-1/5 px-4 py-2">Pickup Address</th>
                <th class="w-1/5 px-4 py-2">Delivery Address</th>
                <th class="w-16 px-4 py-2">Weight</th>
                <th class="w-16 px-4 py-2">Distance</th>
                <th class="w-24 px-4 py-2">Scheduled Time</th>
                <th class="w-16 px-4 py-2">Driver</th>
                <th class="w-16 px-4 py-2">Cost</th>
              </tr>
            </thead>
            <tbody>
              <% @deliveries.each do |delivery| %>
                <tr class="border-b border-gray-400 hover:bg-[#ccccea] transition-all duration-100 ease-in-out">
                  <td><%= delivery.id %></td>
                  <td class="text-start"><%= delivery.pickup_address %></td>
                  <td class="text-start"><%= delivery.delivery_address %></td>
                  <td><%= delivery.weight %> kg</td>
                  <td><%= delivery.distance %> km</td>
                  <td><%= delivery.scheduled_time.strftime("%B %d, %Y %I:%M %p") %></td>
                  <td><%= delivery.driver_name %></td>
                  <td>$<%= delivery.cost %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="flex justify-end">
            <p class="p-2 border-2 border-[#6e54ff] bg-[#ccccea] rounded font-semibold w-48 text-center">
              Total cost: $<%= @total_cost %>
            </p>
          </div>
        </div>
      </div>

      <!-- Pagination -->

      <div class="flex flex-col items-center space-y-4">
        <%= paginate @deliveries %>
      </div>

    </div>
  </div>
  <!-- Form modal -->
  <div data-controller="validation "data-modal-target="addDeliveryForm" id="modal-new-delivery" class="hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border bg-white border-gray-200 md:w-144 w-full h-auto rounded transition-opacity duration-500 shadow-xl p-4">

    <h3 class="text-2xl text-center mb-4 font-bold">Add a new delivery</h3>

    <%= form_with model: @delivery, data: { turbo: false, action: "submit->validation#formValidation" } do |f| %>
      <div class="space-y-4">

        <!-- Pickup address -->
        <div class="space-y-2 flex flex-col">
          <h4 class="text-lg font-semibold">Pickup Address</h4>
          <div class="flex space-x-4">
            <div class="flex flex-col w-4/5 space-y-2">
              <%= f.label :pickup_address, "Street and number" %>
              <%= f.text_field :pickup_address,
                  name: "pickup",
                  autocomplete: "address-line1",
                  placeholder: "Add a pickup address",
                  class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
                  data: { validation_target: "pickupAddressField", action: "change->validation#trackFieldChanges" }
              %>
              <p class="hidden text-red-400 text-xs" data-validation-target="pickupError">Add a valid address including street name and number</p>
            </div>
            <div class="flex flex-col w-1/5 space-y-2">
              <%= f.label :pickup_address, "Postcode" %>
              <%= f.text_field :pickup_address,
                  name: "pickup-zip",
                  autocomplete: "postal-code",
                  readonly: true,
                  class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200 focus:outline-[#6e54ff]",
                  data: { validation_target: "pickupZipField" }
              %>
            </div>
          </div>

          <div class="flex space-x-4 justify-center">
            <div class="flex flex-col w-1/2 space-y-2">
              <%= f.label :pickup_address, "City" %>
              <%= f.text_field :pickup_address,
                  name: "pickup-city",
                  autocomplete: "address-level2",
                  readonly: true,
                  class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200 focus:outline-[#6e54ff]",
                  data: { validation_target: "pickupCityField" }
              %>
            </div>
            <div class="flex flex-col w-1/2 space-y-2">
              <%= f.label :pickup_address, "State" %>
              <%= f.text_field :pickup_address,
                  name: "pickup-state",
                  autocomplete: "address-level1",
                  readonly: true,
                  class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200 focus:outline-[#6e54ff]",
                  data: { validation_target: "pickupStateField" }
              %>
            </div>
          </div>
        </div>

        <!-- Delivery address -->
        <div class="space-y-2 flex flex-col">
          <h4 class="text-lg font-semibold">Delivery Address</h4>
          <div class="flex space-x-4">
            <div class="flex flex-col w-4/5 space-y-2">
              <%= f.label :delivery_address, "Street and number" %>
              <%= f.text_field :delivery_address,
                  name: "delivery",
                  autocomplete: "address-line1",
                  placeholder: "Add a delivery address",
                  class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
                  data: { validation_target: "deliveryAddressField", action: "change->validation#trackFieldChanges" }
              %>
              <p class="hidden text-red-400 text-xs" data-validation-target="deliveryError">Add a valid address including street name and number</p>
            </div>
            <div class="flex flex-col w-1/5 space-y-2">
              <%= f.label :delivery_address, "Postcode" %>
              <%= f.text_field :delivery_address,
                  name: "delivery-zip",
                  autocomplete: "postal-code",
                  readonly: true,
                  class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200 focus:outline-[#6e54ff]",
                  data: { validation_target: "deliveryZipField" }
              %>
            </div>
          </div>

          <div class="flex space-x-4">
            <div class="flex flex-col w-1/2 space-y-2">
              <%= f.label :delivery_address, "City" %>
              <%= f.text_field :delivery_address,
                  name: "delivery-city",
                  autocomplete: "address-level2",
                  readonly: true,
                  class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200 focus:outline-[#6e54ff]",
                  data: { validation_target: "deliveryCityField" }
              %>
            </div>
            <div class="flex flex-col w-1/2 space-y-2">
              <%= f.label :delivery_address, "State" %>
              <%= f.text_field :delivery_address,
                  name: "delivery-state",
                  autocomplete: "address-level1",
                  readonly: true,
                  class: "px-1 py-1 border-2 rounded border-gray-400 bg-gray-200 focus:outline-[#6e54ff]",
                  data: { validation_target: "deliveryStateField" }
              %>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <div class="flex space-x-4">
            <!-- Weight -->
            <div class="space-y-2 flex flex-col w-1/2">
              <%= f.label :weight %>
              <%= f.number_field :weight,
                  min: 1,
                  step: 0.1,
                  placeholder: "Add a weight (in kg)",
                  class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
                  data: { validation_target: "weightField", action: "change->validation#trackFieldChanges" }
              %>
              <p class="hidden text-red-400 text-xs" data-validation-target="weightError">Add a valid weight</p>
            </div>

            <!-- Scheduled time -->
            <div class="space-y-2 flex flex-col w-1/2">
              <%= f.label :scheduled_time %>
              <%= f.datetime_local_field :scheduled_time,
                  placeholder: "Select a date",
                  class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
                  data: { controller: "datepicker", validation_target: "dateField", action: "change->validation#trackFieldChanges" }
              %>
              <p class="hidden text-red-400 text-xs" data-validation-target="dateError">Add a valid date</p>
            </div>
          </div>
        </div>

        <!-- Driver name -->
        <div class="space-y-2 flex flex-col">
          <%= f.label :driver_name, "Driver (optional)" %>
          <%= f.text_field :driver_name,
              placeholder: "Choose the driver",
              class: "px-1 py-1 border-2 rounded border-gray-400 focus:outline-[#6e54ff]",
              data: { validation_target: "driverNameField" }
          %>
        </div>

        <div class="flex flex-row space-x-4">
          <button data-action="click->modal#closeForm click->validation#clearForm" class="w-1/4 cursor-pointer border rounded p-2 border-[#f7e2b5] bg-[#f7e2b5]">Cancel</button>
          <%= f.submit "Add delivery", class: "w-3/4 p-2 font-semibold border border-[#6e54ff] rounded bg-[#6e54ff] text-white cursor-pointer" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script data-turbo-eval="false">
  document.addEventListener("turbo:load", function() {
    if (!window.mapboxsearch) return;

    mapboxsearch.config.accessToken = "<%= ENV['MAPBOX_KEY'] %>";

    mapboxsearch.autofill({
      options: {
        country: "nl",
      },
    });
  });
</script>
