<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Scheduler Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0/web.js"></script>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
